/* Global */
:root {
  /* Color */
  --color-orange: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsl(216, 12%, 54%);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-very-dark-blue: hsl(216, 12%, 8%);
}

/* Universal tags */
* {
  box-sizing: border-box;
  margin: 0;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--color-very-dark-blue);
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
}

h1 {
  color: var(--color-white);
  font-size: 25px;
  letter-spacing: -0.03em;
}

p {
  color: var(--color-light-grey);
  font-size: 15px;
  letter-spacing: -0.03em;
  line-height: 1.4666666667;
}

button {
  border: none;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
}

#blocked {
  display: none;
}


/* Mobile - Rating state */
section.rating,
section.thank-you {
  width: 326px;
  height: 359px;
  border-radius: 13px;
  margin-bottom: 20px;
  background: linear-gradient(#222834, #181E28);
}

section.rating {
  padding: 27px 23px;
}

.rating__star {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-bottom: 18px;
  background-color: var(--color-dark-blue);
}

.rating__contents h1 {
  margin-bottom: 10px;
}

.rating__contents p {
  margin-bottom: 27px;
}

.rating__number {
  display: flex;
  margin-bottom: 24px;
}

.rating__number input[type=radio] {
  display: none;
}

.rating__number input[type=radio]+label {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  margin-right: 17px;
  color: var(--color-medium-grey);
  background-color: var(--color-dark-blue);
  font-weight: 700;
  text-align: center;
  line-height: 44px;
  cursor: pointer;
  transition: background-color, 200ms;
}

.rating__number input[type=radio]+label:last-child {
  margin-right: 0;
}

.rating__number input[type=radio]+label:hover {
  color: var(--color-white);
  background-color: var(--color-medium-grey);
}

.rating__number input[type=radio]:checked+label {
  color: var(--color-white);
  background-color: var(--color-orange);
}

.rating__submit {
  width: 280px;
  height: 46px;
  border-radius: 23px;
  color: var(--color-white);
  background-color: var(--color-orange);
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color, 200ms;
}


.rating__submit:hover {
  color: var(--color-orange);
  background-color: var(--color-white);
}

/* Mobile - Thank you state */
section.thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 26px;
  text-align: center;
}

.thank-you img {
  width: 144px;
  height: 98px;
  margin-bottom: 23px;
}

.thank-you__selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 34px;
  border-radius: 17px;
  margin-bottom: 25px;
  background-color: var(--color-dark-blue);
}

.thank-you__selected strong,
.thank-you__selected span {
  color: var(--color-orange);
  font-weight: 400;
  letter-spacing: -0.03em;
}

.thank-you__contents h1 {
  margin-bottom: 10px;
}

.attribution { 
  color: var(--color-light-grey);
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}




/* Desktop */
@media screen and (min-width: 768px) {
  
}


