/* Global */
:root {
  /* Color */
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);
  --color-very-dark-blue-main: hsl(217, 54%, 11%);
  --color-very-dark-blue-card: hsl(216, 50%, 16%);
  --color-very-dark-blue-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);

  /* Font weight */
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-light: 300;
}


/* Universal tags */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  background-color: var(--color-very-dark-blue-main);
}

img {
  display: block;
}

/* Mobile */
.card {
  width: 327px;
  padding: 24px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: var(--color-very-dark-blue-card);
}

.card__img {
  position: relative;
}

.card__img img {
  width: 279px;
  height: 278px;
  border-radius: 7px;
  margin-bottom: 24px;
}

.card__img::before {
  content: '';
  width: 279px;
  height: 278px;
  border-radius: 7px;
  background-color: transparent;
  position: absolute;
  transition: background-color 300ms;
}

.card__img:hover::before {
  background-color: hsl(178, 100%, 50%, 0.5);
  background-image: url(./images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.card__contents {
  margin-bottom: 16px;
}

.card__contents::after {
  content: '';
  display: block;
  width: 279px;
  height: 1px;
  background-color: var(--color-very-dark-blue-line);
}

.card__contents h1 {
  margin-bottom: 14px;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.023em;
}

.card__contents h1 a {
  color: var(--color-white);
  text-decoration: none;
  transition: color 300ms;
}

.card__contents p {
  margin-bottom: 15px;
  color: var(--color-soft-blue);
  font-size: 17px;
  font-weight: var(--weight-light);
  letter-spacing: -0.022em;
  line-height: 1.5294117647;
}

.card__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.card__ethereum {
  display: flex;
  align-items: center;
  color: var(--color-cyan);
  font-size: 16px;
  letter-spacing: -0.01em;
}

.card__ethereum::before {
  content: '';
  width: 11px;
  height: 18px;
  margin-right: 6px;
  background-image: url(./images/icon-ethereum.svg);
}

.card__clock {
  display: flex;
  align-items: center;
  color: var(--color-soft-blue);
  font-size: 16px;
  font-weight: var(--weight-light);
  letter-spacing: -0.02em;
}

.card__clock::before {
  content: '';
  width: 17px;
  height: 17px;
  margin-right: 7px;
  background-image: url(./images/icon-clock.svg);
}

.card__creation {
  display: flex;
  align-items: center;
}

.card__creation img {
  width: 33px;
  height: 33px;
  border: 1px solid var(--color-white);
  border-radius: 100px;
  margin-right: 15px;
}

.card__creation span {
  color: var(--color-soft-blue);
  font-size: 16px;
  font-weight: var(--weight-light);
  letter-spacing: -0.017em;
}

.card__creation span a {
  color: var(--color-white);
  text-decoration: none;
  transition: color 300ms;
}

.card__contents h1 a:hover,
.card__creation span a:hover {
  color: var(--color-cyan);
}

.attribution { 
  color: var(--color-white);
  font-size: 11px; 
  font-weight: var(--weight-light);
  text-align: center; 
}

.attribution a { 
  color: var(--color-soft-blue); 
}


/* Desktop */
@media screen and (min-width: 768px) {

}